.icon-voucher-line {
    color: #ee4d2d;
    fill: currentColor;
    height: 1.25rem;
    width: 1.3125rem;
}


@keyframes blink {
  0% {opacity: 1;}
  50% {opacity: 0;}
  100% {opacity: 1;}
}

.blinking-button {
  animation: blink 1s linear infinite;
}